/* Add some global styles here! */

:root {
  --red: rgb(216, 64, 4);
  --base-bg: #f1f3f5;
  --base-dp: #d3d8de;
  --base-5: #b3e4e6;
  --base-4: #0483fa;
  --base-3: #1b9afa;
  --base-2: #14f4b4;
  --base-1: #9f98fa;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
